.group63-group63 {
  width: 292px;
  height: 72px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(203, 58, 41, 1);
}
.group63-rectangle2 {
  top: 27px;
  left: 24px;
  width: 243px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(203, 58, 41, 1);
}
.group63-root-class-name {
  top: 239px;
  left: 100px;
  position: absolute;
}
